<div class="panel panel-primary" ng-controller="ValehCtrl as vale">
    <div class="panel-heading">Vale al almacen de herramientas por:</div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-8">
                <label for="">Buscar Empleado:</label>
                <input type="text" ng-model="vale.searchempleado"
                       placeholder="Nombre - Numero nomina"
                       uib-typeahead="value.nombre for value in vale.getEmpleado($viewValue)"
                       typeahead-on-select="vale.onSelect($item, $model, $label)"
                       typeahead-loading="loadingLocations"
                       typeahead-no-results="noResults"
                       typeahead-min-length="2"
                       typeahead-template-url="customTemplate.html"
                       class="form-control">
                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                <div ng-show="noResults">
                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                </div>
            </div>
            <div class="col-md-4">
                <label for="">Maquina - Depto</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <p></p>
        <div class="row" ng-show="vale.showempleado">
            <div class="col-md-4">
                <small>Empleado Seleccionado:</small>
            </div>
            <div class="col-md-8">
                <h4>{{ vale.empleado.nombre }} - <small>{{ vale.empleado.numnomina }}</small></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-9">
                <!--<a class="btn btn-success btn-block" ng-click="vale.addItem()">Agregar Articulo</a>-->
                <div ui-view="modal" autoscroll="false"></div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-12">
                <label for="">Buscar Herramienta:</label>
                <input type="text" ng-model="vale.herramienta" class="form-control"
                   placeholder="Codigo - descripcion"
                   uib-typeahead="value.descripcion for value in vale.getHerramienta($viewValue)"
                   typeahead-on-select="vale.onSelectHerram($item, $model, $label)"
                   typeahead-min-length="2"
                   typeahead-template-url="HerramientaTemplate.html"
                    >
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <tr>
                        <td><strong>Cant</strong></td>
                        <td><strong>Codigo</strong></td>
                        <td><strong>Descripcion</strong></td>
                        <td></td>
                    </tr>
                    <tr ng-repeat="item in vale.post.items">
                        <td class="col-md-2"><input type="text" class="form-control input-sm" ng-init="vale.qty[$index] = item.qty"
                                                    ng-model="vale.qty[$index]"
                                                    ng-change="vale.updateqty($index)"
                                >
                        </td>
                        <td>{{ item.codigo }}</td>
                        <td>{{ item.descripcion }}</td>
                        <td><a ng-click="vale.deleteThis($index)" class="btn btn-danger btn-block">borrar</a></td>
                    </tr>


                </table>
            </div>
        </div>

        <br>
        <a ng-class="{disabled:vale.disablebtn}" class="btn btn-success btn-lg btn-block" ng-click="vale.save()">Guardar</a>
        </div>

    </div>
</div>

<script type="text/ng-template" id="customTemplate.html">
    <a>
        <span ng-bind-html="match.model.nombre | uibTypeaheadHighlight:query"></span>
        <span ng-bind-html="match.model.numNomina | uibTypeaheadHighlight:query"></span>
    </a>
</script>


<script type="text/ng-template" id="HerramientaTemplate.html">
    <a>
        <span ng-bind-html="match.model.codigo | uibTypeaheadHighlight:query"></span>
        <span ng-bind-html="match.model.descripcion | uibTypeaheadHighlight:query"></span>
    </a>
</script>
