<div class="panel panel-primary">
    <div class="panel-heading">Vale al almacen de herramientas por:</div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-3">
                <label for="">Num nomina:</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-9">
                <label for="">Nombre:</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3 col-md-offset-9">
                <button class="btn btn-success btn-block" ui-sref="modal">Agregar Articulo</button>
                <div ui-view="modal" autoscroll="false"></div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <tr>
                        <td><strong>Cant</strong></td>
                        <td><strong>Codigo</strong></td>
                        <td><strong>Descripcion</strong></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>

        <br>
        <button class="btn btn-success btn-lg btn-block">Guardar</button>

        </div>

    </div>
</div>